@charset "UTF-8";
body{
position:relative;
}

img{
    height: 183px;
	width: 120px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px gray;
}


img:hover{
	height: 193px;
	width: 130px;
}

.cima{
	position: relative;
	top: -380px;
    color: white;
    font-size: 10pt;
    font-weight: border;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 15px grey;
}

.baixo{
	position: relative;
	top: -580px;
    color: white;
    font-size: 10pt;
    font-weight: border;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 15px grey;
}

.parallax{
background-image: url(imag/fundo2.jpg);
min-height: 400px;
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

#rotacao{
	height:1100px; 
	background-color:rgba(00, 00, 00,1);
	width: 100%;
	min-height: 100%;
	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
	  justify-content: center;
	  box-shadow: 0px 0px 15px gray;
	
}

#rota{
	height:0px; 
	background-color:rgba(00, 00, 00,1);
	width: 100%;
	min-height: 100%;
	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
	  justify-content: center;
	  
	
}


input{
  height: 25%;
  width: 45%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px gray;
  text-align: center;
  font-size: 10pt;
  font-family: arial;
  font-weight: border;
  background-color: white;
  text-shadow:0px 0px 1px black;
}



nav#menu ul{
	list-style:none;
	text-transform: uppercase;
	top: -22px;
	left: 790px;
	position: absolute;
	
}
nav#menu li{
display: inline-block;
background-color: #000000;
margin:6px;
padding: 17px;
font-size: 12pt;
font-weight: border;
-webkit-transition: background-color;
-moz-transition: background-color;
-ms-transition: background-color;
-o-transition: background-color;
transition: background-color;
box-shadow: 0px 0px 8px gray;

	}

nav#menu li:hover{
background-color: #ffffff;
box-shadow: 0px 0px 8px black;


}

nav#menu a{
	color: #ffffff;
	text-shadow: 0px 0px 18px grey;
	text-decoration: none;
}
 
nav#menu a:hover{
	color: #000000;
	font-weight: border;
}

nav#menu li.active{
	background-color: grey;
	color:black;

}
